# Directories
.vs/
Binaries/
*.xcworkspace
*.xcodeproj/  # Xcode project folder
DerivedData/
*.xcuserdata/
*.xcshareddata/
*.xcodeproj
# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
*.hmap
*.ipa
*.app.dSYM
*.app  # macOS application bundle

# Exclude Vendor binaries (keep in repo)
!Vendor/Binaries
